/* Overall Styling for Webpage */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Entire Form Selector styling */
#form_container {
    position: relative;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,  0.1);
    width: 60%;
    margin: auto;
    left: 175px;
    top: 50px;
    z-index: 10;
}

/* Fields Container styling */
#form_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    z-index: 10;
}

/* Title of Form Container styling */
#form_header {
    position: relative;
    top: -10px;
    font-weight: 800;
    z-index: 10;
}


/* Input fields styling */
input {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
}

/* login/register button styling */
button {
    padding: 15px 35px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}


/* footer section styling for "forgot password? click here" */
.extra_note {
    position: relative;
    padding: 10px;
    top: 40px;
    color: blue;
    cursor: pointer;
    z-index: 10;
}

/* footer section "or" */
.or {
    position: relative;
    top: 20px;
    z-index: 10;
}

/* footer section styling for "continue as guest" */
.guest_link {
    background-color: rgba(240, 240, 240, 0.8);
    color: black;
    cursor: pointer;
    position: relative;
    color: blue;
    z-index: 10;
}

/* background image styling */
.showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/******PROBLEM...font-size and left skews login/register page. FIX*/
.app_name {
    z-index: 10;
    position: relative;
    left: 850px;
    top: -325px;
    font-size: 100px;
    color: brown;
}
