.search-bar {
    z-index: 10;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 550px;
}

/* Entire Recipe list display */
.recipe-list {
    max-height: 50%; 
    overflow-y: auto; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
    background-color: goldenrod;
}

/* Borders for recipes */
.recipe {
    border: 5px solid black;
    padding: 40px;
    cursor: pointer;
}

/* Recipe title text */
.recipe h2 {
    cursor: pointer;
}


/* -Need to center name under recipes
-ensure picture is optimable size  in vewing
-lower size of search by a small amount and to bottom of page
-filter options?
 */