.search-bar {
    z-index: 10;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 550px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Recipe List Display Styling Area*/
.recipe-list {
    max-height: 50%; 
    overflow-y: auto; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
    background-color: goldenrod;
}

/* Borders for recipes */
.recipe {
    border: 5px solid black;
    padding: 40px;
    cursor: pointer;
}

/* Recipe title text */
.recipe h2 {
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* Filter Preferences Styling Area */

.Preference-Header {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 560px;
}



.cuisine {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 520px;
}



.diet {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 500px;
}


/* ------------------------------------------------------------------------------------------------------------ */